* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
  font-weight: unset;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  background-color: #aad4cf;
}

body {
  background-color: #d4e9e7;
  width: 1025px;
  margin: 0 auto;
}

.container {
  position: relative;
}
h1 {
  font-size: 40px;
}
.lone {
  color: white;
  position: absolute;
  top: 195px;
  width: 100%;
  text-align: center;
  font-size: 64px;
}
.star {
  float: left;
  margin: 0 20px 20px 0;
  height: 256px;
  width: 250px;
}

section {
  padding: 15px 10px;
}

article {
  line-height: 1.4;
  font-size: 16px;
}

h2 {
  margin-top: 13.5px;
  font-size: 35px;
}

article h2 {
  margin-bottom: 18px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

nav > ul > li {
  padding: 5px 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav > ul > li:not(:last-child):after {
  content: "|";
  transform: scale(0.5, 3);
}

nav > ul > li > a {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

nav > ul > li > a:hover {
  cursor: pointer;
}

section#facts {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

section#facts ul {
  margin-left: 1rem;
  line-height: 1;
}

section#form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

section#form > form {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  padding: 25px 15px;
  gap: 15px;
}

section#form > form .input-gp {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section#form > form .radio-gp {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

section#form > form > input[type="submit"] {
  width: fit-content;
  border: solid 1px black;
  padding: 10px;
}

footer {
  padding: 25px 30px 35px 0;
  margin-bottom: 20px;
}

footer p#copyright {
  text-align: right;
}

h3 {
  font-size: 29px;
}

section#form > form input[type="text"],
section#form > form input[type="email"],
section#form > form textarea {
  padding: 3px;
  border: solid 1px #cccccc;
}
section#form > form textarea[type="message"],
section#form > form textarea {
  resize: none;
  height: 100px;
  border: solid 1px #737373;
}

.input-gp > p {
  font-size: 23px;
  padding: 15px 0 25px 0;
}

.opt {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

section#form input[type="submit"] {
  background: none;
  font-size: 11px;
}
